<h1><%=@home_team%> predicted goals: <%=@score_home%></h1>
<h1><%=@away_team%> predicted goals<%=@score_away%></h1>
<h1>WIP! Missing features:</h1>
<h1>User login</h1>
<h1>Better UX and possibility of saving own models</h1>
<h1>Link with the two top bet websites via their API to get updated odds.</h1>
<h1>Portfolio of bets created with odds + predicted outcomes, for the optimum payoff</h1>
<h1>Ability to fine-tune database</h1>
<h1>Model iteration with AIC. Prediction probabilities. Adjusted logistic model.</h1>
